h2 {
    font-size: large;
    color: black;
}


li{
    color: black;
    font-size: medium;
}

.Card{
    background-color: white;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    justify-content: center;
}

h3{
    justify-content: center;
}



p{
    font-size:  small;
}